html,
body {
	margin: 0;
	padding: 0;
}

.MenuWrap {
	background-color: indigo;
	color: #ebebeb;
	font-family: 'Oswald', sans-serif;
	font-size: 1rem;
	height: 2.75rem;
	display: flex;
	align-items: center;
	padding: 0 1rem;
	flex-direction: row;	/* makes flexbox change the direction */
	justify-content: space-evenly;  /* test this, with and without margins below. margin overrides */
}

.ListItem, .LastItem {
	background-color: gray;
	display: flex;
	color:#ebebeb;
	text-decoration: none;  /* removes the classic link underline */
	width: 80px;
}

.ListItem {
	margin-left: 1rem;		/* changed to move the last item to the far right */
}

.LastItem {
	margin-left: auto;		/* changed to to move to the last item to the far right */
}
